# 依赖解析
# strict-peer-dependencies=false
# legacy-peer-deps=true
# auto-install-peers=true

# 提升依赖
shamefully-hoist=true

# Shell 配置（Windows 启用）
shell-emulator=true

# 镜像配置
# registry=https://registry.npmmirror.com
# home=https://npmmirror.com
# puppeteer_download_host=https://npmmirror.com/mirrors
# sass_binary_site=https://npmmirror.com/mirrors/node-sass
# electron_mirror=https://npmmirror.com/mirrors/electron/
